<div class="new-products-container">
  <h2 class="container-header page-heading">The Team</h2>
  <h2 class="container-header page-heading"> Administrative </h2>


  <ul class="productGrid productGrid--maxCol new-products" data-product-type="new">
        <li class="product">


                <article class="card compare-disabled price-visibility">
                        <figure class="card-figure">
                           
                    
                                <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/ms.png" alt="" title="">
                    
                    
                    
                              
                            <figcaption class="card-figcaption">
                                <div class="card-figcaption-body">
                                              
                                </div>
                            </figcaption>
                        </figure>
                    
                    
                              <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                  <h4 class="card-title">Matt Seei
                                  </h4>
                                      
                                  <!--  -->
                                  <div class="card-text-description">
                        <p>President/Sales</p>                
                        
                                  </div>
                                                
                              </div>
                    
                            </article>
            




        </li>

        <li class="product">


                <article class="card compare-disabled price-visibility">
                        <figure class="card-figure">
                           
                    
                                <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/cr.png" alt="" title="">
                    
                    
                    
                              
                            <figcaption class="card-figcaption">
                                <div class="card-figcaption-body">
                                              
                                </div>
                            </figcaption>
                        </figure>
                    
                    
                              <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                  <h4 class="card-title">Chris Reinert
                                  </h4>
                                      
                                  <!--  -->
                                  <div class="card-text-description">
                        <p>Vice President/Operations</p>                
                        
                                  </div>
                                                
                              </div>
                    
                            </article>
            




        </li>
        <li class="product">


                <article class="card compare-disabled price-visibility">
                        <figure class="card-figure">
                           
                    
                                <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/ar.jpg" alt="" title="">
                    
                    
                    
                              
                            <figcaption class="card-figcaption">
                                <div class="card-figcaption-body">
                                              
                                </div>
                            </figcaption>
                        </figure>
                    
                    
                              <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                  <h4 class="card-title">Andrew Reinert
                                  </h4>
                                      
                                  <!--  -->
                                  <div class="card-text-description">
                        <p>Operations Manager</p>                
                        
                                  </div>
                                                
                              </div>
                    
                            </article>
            




        </li>
        <li class="product">


                <article class="card compare-disabled price-visibility">
                        <figure class="card-figure">
                           
                    
                                <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/ap.png" alt="" title="">
                    
                    
                    
                              
                            <figcaption class="card-figcaption">
                                <div class="card-figcaption-body">
                                              
                                </div>
                            </figcaption>
                        </figure>
                    
                    
                              <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                  <h4 class="card-title">Amanda Park
                                  </h4>
                                      
                                  <!--  -->
                                  <div class="card-text-description">
                        <p>Accounts Payable/Receivable</p>                
                        
                                  </div>
                                                
                              </div>
                    
                            </article>
            




        </li>
        <li class="product">


                <article class="card compare-disabled price-visibility">
                        <figure class="card-figure">
                           
                    
                                <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/kr.png" alt="" title="">
                    
                    
                    
                              
                            <figcaption class="card-figcaption">
                                <div class="card-figcaption-body">
                                              
                                </div>
                            </figcaption>
                        </figure>
                    
                    
                              <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                  <h4 class="card-title">Keith Ramey
                                  </h4>
                                      
                                  <!--  -->
                                  <div class="card-text-description">
                        <p>Shipping/Receiving/Facilities</p>                
                        
                                  </div>
                                                
                              </div>
                    
                            </article>
            




        </li>

    </ul>
  

      <h2 class="container-header page-heading"> Service </h2>
      <ul class="productGrid productGrid--maxCol new-products" data-product-type="new">
  
            <li class="product">


                    <article class="card compare-disabled price-visibility">
                            <figure class="card-figure">
                               
                        
                                    <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/pf.png" alt="" title="">
                        
                        
                        
                                  
                                <figcaption class="card-figcaption">
                                    <div class="card-figcaption-body">
                                                  
                                    </div>
                                </figcaption>
                            </figure>
                        
                        
                                  <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                      <h4 class="card-title">Paul Farr
                                      </h4>
                                          
                                      <!--  -->
                                      <div class="card-text-description">
                            <p>Service Manager</p>                
                            
                                      </div>
                                                    
                                  </div>
                        
                                </article>
                
    
    
    
    
            </li>


            <li class="product">


                    <article class="card compare-disabled price-visibility">
                            <figure class="card-figure">
                               
                        
                                    <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/ds.png" alt="" title="">
                        
                        
                        
                                  
                                <figcaption class="card-figcaption">
                                    <div class="card-figcaption-body">
                                                  
                                    </div>
                                </figcaption>
                            </figure>
                        
                        
                                  <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                      <h4 class="card-title">Don Schmidt
                                      </h4>
                                          
                                      <!--  -->
                                      <div class="card-text-description">
                            <p>Service Technician (Ryobi, Challenge Machinery, Baum Folder)</p>                
                            
                                      </div>
                                                    
                                  </div>
                        
                                </article>
                
    
    
    
    
            </li>

            <li class="product">


                    <article class="card compare-disabled price-visibility">
                            <figure class="card-figure">
                               
                        
                                    <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/jc.png" alt="" title="">
                        
                        
                        
                                  
                                <figcaption class="card-figcaption">
                                    <div class="card-figcaption-body">
                                                  
                                    </div>
                                </figcaption>
                            </figure>
                        
                        
                                  <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                      <h4 class="card-title">Jose Camacho
                                      </h4>
                                          
                                      <!--  -->
                                      <div class="card-text-description">
                            <p>Service Technician (Duplo)</p>                
                            
                                      </div>
                                                    
                                  </div>
                        
                                </article>
                
    
    
    
    
            </li>

            <li class="product">


                    <article class="card compare-disabled price-visibility">
                            <figure class="card-figure">
                               
                        
                                    <img class="card-image main" src="/stencil/00000000-0000-0000-0000-000000000001/img/ds.png" alt="" title="">
                        
                        
                        
                                  
                                <figcaption class="card-figcaption">
                                    <div class="card-figcaption-body">
                                                  
                                    </div>
                                </figcaption>
                            </figure>
                        
                        
                                  <div class="card-body purchase-ability withoutTax" data-test-info-type="price">
                                      <h4 class="card-title">David Scaramelli
                                      </h4>
                                          
                                      <!--  -->
                                      <div class="card-text-description">
                            <p>Service Technician (Mimaki)</p>                
                            
                                      </div>
                                                    
                                  </div>
                        
                                </article>
                
    
    
    
    
            </li>




  
  
      </ul>
      
  




    

</div>


